<div class="container">
<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-6">

  <h1>Title: <%= @post.title %></h1>

  <h4 style="text-align:justify;">Description: <%= @post.blog %></h4>
  
  <h4>Link: <%= link_to @post.link, "http://#{@post.link}" %></h4>
  <h3>Comments</h3>	
  <% @comments.each do |comment| %>
    <div class="well">
    <h3><%= get_post_name(comment.user_id) if comment.user_id %> Says:</h3>
  	<h4><%= comment.comment %></h4>
    </div>
  <% end %>

  <br/>
  <%= render 'comment' %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>
</div>	
</div>

